<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<ul>
    <li><a href="/token">查看access_token</a></li>
    <li><a href="/profile">查看个人信息</a></li>

</ul>
</body>
</html>